# Part - 1
## Q0 - Q4

Use Olympics.csv

Data Cleaning

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2] == '02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2] == '03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1] == '№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True)

name_ids = df.index.str.split('\s\(')
df.index = name_ids.str[0]
df['ID'] = name_ids.str[1].str[:3]

df.drop('Totals', inplace=True)
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

## Q0

In [2]:
def answer_zero():
    return df.iloc[0]

In [3]:
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

## Q1

In [4]:
def answer_one():
    return df['Gold'].idxmax()

In [5]:
answer_one()

'United States'

## Q2

In [6]:
def answer_two():
    return (abs(df['Gold'] - df['Gold.1'])).idxmax()

In [7]:
answer_two()

'United States'

## Q3

In [8]:
def answer_three():
    df2 = df.loc[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    return ((df2['Gold'] - df2['Gold.1']) / (df2['Gold.2'])).idxmax()

# According to a calculation df['Gold.2'] is same as that of (df['Gold'] + df['Gold.1'])
# So we can also use (df['Gold'] + df['Gold.1']) instead of df['Gold.2']
# return ((df2['Gold'] - df2['Gold.1']) / ((df2['Gold'] + df2['Gold.1'])).idxmax()

In [9]:
answer_three()

'Bulgaria'

## Q4

In [10]:
def answer_four():
    return df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']*1

In [11]:
answer_four()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Length: 146, dtype: int64

# Part - 2
## Q5 - Q8

Use Census.csv

In [12]:
df = pd.read_csv("census.csv")

In [13]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

## Q5

In [14]:
def answer_five():
# For being considered as County, SUMLEV should be 50
    all_counties = df[df['SUMLEV'] == 50]
    return all_counties.groupby('STNAME')['COUNTY'].count().idxmax()

In [15]:
answer_five()

'Texas'

## Q6

In [16]:
def answer_six():
    all_counties = df[df['SUMLEV'] == 50]
    top_three_counties = all_counties.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
    states_by_pop = top_three_counties.groupby('STNAME').sum()
    return list(states_by_pop.nlargest(3).index)

In [17]:
answer_six()

['California', 'Texas', 'Illinois']

## Q7

In [18]:
def answer_seven():
    all_counties = df[df['SUMLEV'] == 50]
    pop_estimate = ["POPESTIMATE2010","POPESTIMATE2011","POPESTIMATE2012","POPESTIMATE2013","POPESTIMATE2014","POPESTIMATE2015"]
    abs_pop_change = all_counties[pop_estimate].max(axis=1) - all_counties[pop_estimate].min(axis=1)
    return df.loc[abs_pop_change.idxmax()]['CTYNAME']
#     return all_counties.iloc[abs_pop_change.argmax()]['CTYNAME']

In [19]:
answer_seven()

'Harris County'

## Q8

In [22]:
def answer_eight():
    all_cnt = df[df['SUMLEV'] == 50]
    all_wash_cnt = all_cnt[((all_cnt['REGION']==1) | (all_cnt['REGION']==2)) & all_cnt['CTYNAME'].str.startswith("Washington")]
    pop_estimate = all_wash_cnt[all_wash_cnt['POPESTIMATE2015'] > all_wash_cnt['POPESTIMATE2014']]
    return pop_estimate[['STNAME','CTYNAME']].sort_index()

In [23]:
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County