In [96]:
class Students:
    def __init__(self,name,batch_no,address,course=[list],course_score=[]):
        self.name = name
        self.batch_no = batch_no
        self.address = address
        self.course = course
        self.course_score = course_score
        
    def set_name(self,name):
        self.name = name
    
    def set_batch_no(self,batch_no):
        self.batch_no = batch_no
        
    def set_address(self,address):
        self.address = address
        
    def set_course(self,course):
        self.course = course
        
    def set_course_score(self,course_score):
         if len(self.course) == 0:
            return "Course list is empty"
         else:
            self.course_score = course_score
        
    def get_name(self):
        return self.name
    
    def get_batch_no(self):
        return self.batch_no
    
    def get_address(self):
        return self.address
    
    def get_course(self):
        return self.course
    
    def get_course_score(self):
        return self.course_score

In [97]:
list = [{" data science marks":30} ,{"course:python, marks":30} ]

In [98]:
ds = 30
py = 30

In [99]:
obj.get_name()

'Kashaf Naz'

In [100]:
obj.get_course()

'Ds'

In [101]:
obj.get_course_score()

[]

In [102]:
for get_name in get_course:
    if "data" in list:
        print(get_course)
        print(get_name)

    elif "python" in list:
        print(get_name)
        print(get_python)

In [74]:
obj = Students("Kashaf Naz" ,"2 DS"," pak ", "Ds", )

In [45]:
obj.get_name()

'Kashaf Naz'

'Ali'

In [83]:
if obj.get_name == obj.get_course:
    print(get_course_score)

In [47]:
obj.set_course_score("[{“course”: datascience,” marks”:30},{“course”:python,”marks”:30} ]")