# Instructions
1. Should Attempt all questions
2. Google Search is allowed
3. Write comments to explain your code
4. In the case of Plagiarism. Zero would be marked and would be kicked out from the course
5. Discussion with other classmates is not allowed
6. Passing Marks 70

# Q1. Create a function add_numbers which takes 4 parameters
1. x (integer)
2. y (integer)
3. z (integer)
4. flag (Boolean)


z and flag are optional parameters
if function receives z then function should return the sum of x y and z else
return the sum of x and y



if flag is True also print the statement
“Flag is True”

In [ ]:
#z and flag is optional 
#so, z can't recieved/ reached z beacuse z does't define in fun

In [20]:
def add_numbers(x,y):
    print('I writer a function with two param ' + str(x) + ' and ' + str(y) + ' and the sum of x and y is :' )
    print('sum = ' + str(x+y))
    

add_numbers(3,5) #z can not be received as param

I writer a function with two param 3 and 5 and the sum of x and y is :
sum = 8

# Q2. Write a function get_datetime(int) that takes a param number_of_days and
if the number is divisible by 2 returns (current_datetime + number_of_days) and

if number is divisible by 3 returns (current_datetime - number_of_days)

else return current_datetime

In [ ]:
#because in this fun we have end results is date & time ..
#.firstly we __import datetime
#function with name get_datetime

In [129]:
import datetime as dt
from datetime import datetime , timedelta
import time

current_datetime = dt.datetime.now()
current_no_of_days = dt.timedelta()

def get_datetime(number_of_days):
    
    
    today = number_of_days % 2
    if today == 0:
        print( current_datetime +  current_no_of_days)
    
    elif number_of_days % 3 != 0:
        print( current_datetime -  current_no_of_days)
    else:
        print(current_datetime)

        
        
print(get_datetime(-999))

2021-07-30 15:11:00.719320
None

# Q3. Write a function concat_lst that takes two list as a parameter and combine two list together into single list

and should not contains duplicate values.

You must use loop to solve this question

In [26]:
def concat_lst(my_list,your_list):
    for i in my_list:
        if i not in your_list:
            your_list.append(i)
    print ("Finally :( our concatenation list is  : " + str(your_list))
concat_lst([1, 3, 5, 6, 3, 5, 6, 1],[])

Finally :( our concatenation list is  : [1, 3, 5, 6]

# Q4. Write a function string_case using map that takes list of characters and return
List of tuples with containing lower and upper case of that character’s list

Final Output must contain unique tuple element

In [ ]:
#function ----> string_case --->


#output -- >> unique element

In [191]:
def sting_case(data_List):
    data_pro = tuple(set(map(unique,data_List)))
    return data_pro

def unique(kal):
    return kal.upper()
sting_case([('K'),'a','s',('H'),'a','F'])

('F', 'K', 'H', 'A', 'S')

# Q5. Write a function get_city_mpg_avg, that groups the cars by number of cylinders, and
finding the average cty mpg for each group.

Output should be in the list of tuples

Output = [ (5,20),(4,18),(3,16) ]

Note:

1. Use MPG.csv file
2. First index of tuple shows the number of cylinders and second index shows the average
3. Result should be sorted by first tuple index by using lambda functions

In [119]:
import csv
with open('mpg.csv') as csv_file:
mpg = list(csv.DictReader(csv_file))
mpg[7]['cyl']

# def get_city_mpg_avg(csv_file, cty_list):
#     lambda_fun = lambda x: x+cty_list
#     return list(map(lambda_func,myList))
# str_join([],)

IndentationError: expected an indented block (<ipython-input-119-715a63652bbb>, line 3)

# Q6. Write a function get_hwy_mpg_avg find the average hwy mpg for each class of vehicle
Hwy mpg means highway mileage

1. Use MPG.csv file

2. Hwy mpg is found as hwy column in a file

3. Vehicle class is found as class column in a file

4. Sort Hwy Mpg in ascending order

Output sample: [('pickup', 16.88),('suv', 18.13),('minivan', 22.36),

('2seater', 24.80),('midsize', 27.29),

('subcompact', 28.14), ('compact', 28.30)]

In [118]:
def get_cty_mpg_avg():
    with open('mpg.csv') as csv_file:
        mpg=list(csv.DictReader(csv_file))
    f=unique_cyl(mpg)
    result=[]
    for c in f:
        sum_val=0
        count=0
        for i in mpg:
            if i['cyl']==c:
                sum_val=sum_val+float(i['cty'])
                count=count+1
        result.append((c,sum_val/count))
        result.sort(key=lambda x:x[0])
    r=list(set(result))
    return r
get_cty_mpg_avg()

[('5', 20.5),
 ('4', 21.012345679012345),
 ('8', 12.571428571428571),
 ('6', 16.21518987341772)]

# Q7. Create a class Student with the following getters and setters
1. Constructor

a. Create an Object with following parameters

i. Name

ii. Batch No

iii. Address

iv. Age

v. Father Name

vi. City

2. New

a. Students with age more than 18 are not allowed in the school

b. Students of Lahore Islamabad Faisalabad Karachi are allowed

3. Setters

a. Name (str)

b. Batch no (int)

c. Address (str)

d. Age (str)

e. Father name (str)

f. City (str)

4. Getters

a. Name

b. Batch no

c. Address

d. Age

e. Father name

f. City

5. Create a new class called DevnationStudents which is a child class of 

Student

a. Write a constructor that

i. That calls the Parent Class Constructor

ii. Also save courses and marks as empty list in the child constructor

b. Write setter functions

i. Add courses

1. Takes a list of courses

2. Add only those courses in the list which are not already in the

ii. Add courses_marks

1. This takes the list of dictionaries

2. If the particular exists in the courses lists then the particular 

dictionary

should be added in the marks list

3. Marks list should not contains duplicate entries of same courses

c. Write getter functions

i. Get courses

ii. Get Marks

# New
a. Students with age more than 18 are not allowed in the school

b. Students of Lahore Islamabad Faisalabad Karachi are allowed

In [128]:
class Students:
    def __new__(cls,name,batch_no,address,age,father_name,city):
        if a <= 18:
            inst = object.__new__(cls)
            return inst
    
    def __init__(self ,name,batch_no,address,age,father_name,city):
        self.name = name
        self.batch_no = batch_no
        self.address = address
        self.age = age
        self.father_name = father_name
        self.city = city
        
    def set_name(self,name):
        self.name = name
    
    def set_batch_no(self,batch_no):
        self.batch_no = batch_no
        
    def set_address(self,address):
        self.address = address
        
    def set_age(self,age):
        self.age = age
    
    def set_fname(self,fname):
        self.fname = fname
        
    def set_city(self,city):
    
        self.city = city
    

            
    def get_name(self):
        return self.name
    
    def get_batch_no(self):
        return self.batch_no
    
    def get_address(self):
        return self.address
    
    def get_age(self,age):
        self.age = age
    
    def get_fname(self,fname):
        self.fname = fname
        
    def get_city(self,city):
        self.city = city
    
class Devnationstudents(Students):
    def __init__(self ,name,batch_no, address, courses=[], marks=[]):
        super().__init__(name,batch_no,address)
        self.courses = courses
        self.marks = marks
        self.marks = []
        
    def set_courses(self, courses):
        for i in courses:
            if i not in self.courses:
                self.courses.append(i)

    def check_point(self, point):
        dup = False
        for default_y in self.marks:
            if default_y["courses"] != point:
                dup = True
        return dup
              
    def set_marks(self, marks):
        
        for new_x in marks:
            if new_x["courses"] in self.courses:
                if (self.check_point(new_x["course"])):
                    continue
                else:
                    self.marks.append(new_x)
            

    def get_courses(self):
        return self.courses
    def get_marks(self):
        return self.marks

In [ ]:
x = Devnationstudents("kashaf", "naz", "swl")
print(x)

In [132]:

out_put  = Devnationstudents("kashaf", 4, "Swl", ['data science','full stack'], [30, 40 , 20])

TypeError: __new__() missing 1 required positional argument: 'city'

In [ ]:
out_put.get_courses()

In [ ]:
out_put.set_courses(["Python", "R" ,'full stack'])

In [131]:
out_put.get_courses()

NameError: name 'out_put' is not defined

# Q8. Write a function get_indices that receives the list of integers nums and an integer target, return indices of

the two numbers such that they add up to target. You may assume that each 

input would have exactly one

solution, and you may not use the same element twice.

You can return the answer in any order.

Input: nums = [2,7,11,15], target = 9

Output: [0,1]

In [117]:
def two_sum(in_list,in_tar):
    l = {}
    for n,x in enumerate(in_list,1):
        try:
            return l[x], n
        except KeyError:
            l.setdefault(in_tar - x,n)

a = (2,7,1,15,33,4)
t = 37
print(two_sum(a,t))

(5, 6)

# Q9. Write a function backward_number. That a receives a number and return the number in backwards
Input = 1234
Output = 4321

In [58]:
def backward_number(get_list):
    get_list.reverse()
    print("list is :" + str(get_list))
backward_number([1 , 2 , 3, 4])

list is :[4, 3, 2, 1]

# Q10. Create a function remove_duplication that takes a list and remove duplication from list.
You cannot use set function

In [49]:
def remove_duplication(a_list):
     return list(dict.fromkeys(a_list))
remove_duplication(['kashaf','naz',18,'naz','sep', '10999-2021','kashaf','naz',18,'naz','sep', '1999-2021'])

['kashaf', 'naz', 18, 'sep', '10999-2021', '1999-2021']